@charset "UTF-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height:1.5;
	letter-spacing: .05em;
	font-family: adobe-caslon-pro, 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	width:100%;
  position:relative;
  color: #333333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

h2 {
	font-family: adobe-caslon-pro, serif;
	text-align: center;
}

nav ul {
	list-style:none;
}

li {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	font-family: adobe-caslon-pro;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select {
	vertical-align:middle;
}

img {
	display:block;
	max-width:100%;
	height: auto;
}

.flex {
  display: flex;
}

.around {
	justify-content: space-around;
}

.space {
  justify-content: space-between;
}
/*共通スタイル*/
html {
	scroll-behavior: auto;
	background:#E5E5E5;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	/* background:orange; */
}

.front_text{
  position: relative;
  font-weight: 300;
  font-size: 30px;
	letter-spacing: 10px;
	color: #333333;
}

.back_text{
  font-size: 60px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: -36px;
  z-index: 0;
  opacity: 0.08;
  font-weight: 700;
	letter-spacing: 0px;
	color: #13363E;
}

.front_text::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333333;
  border-radius: 2px;
}

/* 確認画面 */
.contact {
	width: 100%;
	height: auto;
	padding: 4rem 0;
	margin: 0 auto;
	text-align: center;
	max-width: none;
	user-select: text;
}

.contact p {
	padding: 3rem 0;
	font-size: 1rem;
	font-weight: bold;
}


.contact input,
.contact textarea {
	width: 60%;
	padding: 10px;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	margin-bottom: 2.5rem;
	user-select: auto;
}

.contact textarea {
	height: 200px;
	border: solid 2px #333333;
}

.contact_btn,
.top_btn {
	background-color: #ffffff;
  color: #333333;
	outline: none;
	border: solid 2px #333333;
	border-radius: 30px;
  padding: 2px 0;
  display: inline-block;
  font-size: .8rem;
  width: 20%;
  font-weight: bold;
	cursor: pointer;
	transition: .3s;
	margin: 0 auto;
}

button:hover,
a.contact_btn:hover,
a.top_btn:hover {
	color: #fff;
	background-color: #A3C2EF;
	border: solid 2px #ffffff;
	transition: .5s;
}

/* 送信完了 */
.submit_message {
	font-size: 1.5rem;
	margin: 4rem 0;
	color: #000000;
	animation-name: submit_message;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.submit_image {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	margin-bottom: -50px;
}

@keyframes submit_message {
	0% {
transform: scale(0.5);
	}
	20% {
transform: scale(1.5);
	}
	40% {
transform: scale(1);
	}
	100% {
transform: rotate(-15deg);
	}
}

/*----------レスポンシブ----------*/
@media (max-width: 768px) {
/* 確認画面 */
.contact {
	padding: 4rem 0;
}

.contact input,
.contact textarea {
	width: 80%;
}

.contact_btn {
	width: 30%;
}
/* 送信完了 */
.submit_image {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

a.top_btn {
	width: 50%;
}
}

@media (max-width: 375px) {
/* 送信完了 */
.submit_message {
	font-size: 1rem;
}

.submit_image {
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

a.top_btn {
	width: 20%;
	font-size: .8rem;
}
}
