@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1.5;
	letter-spacing: .05em;
	font-family: adobe-caslon-pro, 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	width:100%;
  position:relative;
  color: #333333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

h2 {
	font-family: adobe-caslon-pro, serif;
	text-align: center;
}

nav ul {
	list-style:none;
}

li {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	font-family: adobe-caslon-pro;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select {
	vertical-align:middle;
}

img {
	display:block;
	max-width:100%;
	height: auto;
}

.flex {
  display: flex;
}

.around {
	justify-content: space-around;
}

.space {
  justify-content: space-between;
}
/*共通スタイル*/
html {
	scroll-behavior: auto;
	background:#E5E5E5;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	/* background:orange; */
}

.front_text{
  position: relative;
  font-weight: 300;
  font-size: 30px;
	letter-spacing: 10px;
	color: #333333;
}

.back_text{
  font-size: 60px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: -36px;
  z-index: 0;
  opacity: 0.08;
  font-weight: 700;
	letter-spacing: 0px;
	color: #13363E;
}

.front_text::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333333;
  border-radius: 2px;
}

/* ヘッダー */
.header {
	position: fixed;
	left: 0;
	/* top: -100px; */
	width: 100%;
	height: 80px;
	z-index: 100;
	background:#E5E5E5;
	opacity: .9;
	padding: 0 48px;
	transition: transform .5s;
	box-shadow: 0 2px 5px #13363E;
}

.header .inner {
	width: 100%;
	height: 80px;
	align-items: center;
}

/* ヘッダータイトル */
header h1 a {
	color: #333333;
	font-size: 1.5rem;
	font-family: adobe-caslon-pro, serif;
	transition: all .3s;
	text-shadow: 3px 3px 2px #fff;
}

/* ハンバーガーメニュー */
.header .inner ul {
	flex-wrap: wrap;
	/* justify-content: flex-end; */
}

.header .inner ul li {
	padding: .5rem 4rem;
}

.header .inner .header_nav ul li a {
	display: block;
	position: relative;
	color: #333333;
	font-weight: bold;
}

/* キービジュアル */
.key_visual {
	width: 100%;
	height: 100vh;
	background-image: url(/images/自由の女神.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.kv_inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.kv_inner .kv_text{
	position: absolute;
	top: 60%;
	right: 10%;
	font-size: 2.5rem;
	letter-spacing: .5rem;
	transform: translateY(-50%);
}
/* 自己紹介 */
.about {
	width: 100%;
	height: auto;
	padding: 8rem 0;
}

.about .profile {
	flex-wrap: wrap;
	padding: 4rem 1rem;
	z-index: 1;
	/* background: yellowgreen; */
}

.about .profile_image {
	width: 30%;
}

.about img {
	width: 70%;
	height: auto;
	box-shadow: 0 0 20px #13363E;
	border-radius: 50%;
	margin:0 auto;
}

.about .profile_name  {
	width: 70%;
	margin: 2rem auto;
	text-align: center;
	font-size: 2rem;
	border-bottom: 1px solid #333333;
	text-shadow: 3px 3px 2px #fff;
}

.about .profile_text {
	width: 50%;
	background: #ffffff;
	box-shadow: 0 0 4px #13363E;
	border-radius: 10px;
	padding: 30px;
}

.about .profile_text p {
	padding-bottom: 1.5rem;
}
/* スキル */
.skills {
	width: 100%;
	height: auto;
	background-color:#779BBD;
	color: #fff;
	padding: 6rem;

}

.skills ul {
	flex-wrap: wrap;
	align-items: center;
	padding-top: 2rem;
}

.skills ul li {
	width: calc(100%/3);
	text-align: center;
	padding: 1rem;
}

.skills .skill_img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.skill ul p {
	text-align: center;
}

/* 仕事 */
.work {
	width: 100%;
	height: auto;
	position: relative;
	padding: 8rem 0;
}

.wrapper .work_contents {
	width: 100%;
	/* padding: 0 50px; */
	/* background: red; */
}

.work_content {
	width: 100%;
	margin: 50px 0 100px;
}

.work .work_content:nth-child(even) {
	flex-direction: row-reverse;
}
.work_text {
	width: 30%;
	margin-bottom: 10px;
}
.work_img {
	/* width: calc(70% - 10px); */
}

.work-img img {
	transition: all .5s;
}

.work-img img:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 10px #333;
}
.work .work_info {
	text-align: center;
	margin: 6rem 0;
}

.work_text h3 {
	border-bottom: 1px solid #333333;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.work p,
.work h3 {
	text-align: center;
}

/* お問い合わせ */
.contact {
	width: 100%;
	height: auto;
	padding: 50px 100px 100px 0;
	margin: 0 auto;
	background-image: url(/images/女神２.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	box-shadow: 0 -5px 5px #f3f3f3;
	max-width: none;
	/* filter: grayscale(80%); */
}

.contact h3 {
	text-shadow: 5px 5px 5px #fff;
	margin-bottom: .5rem;
}

.contact p {
	padding: 4rem 0;
	font-size: 1.5rem;
}
form {
	display: block;
}

.contact input,
.contact textarea {
	width: 600px;
	padding: 10px;
	box-shadow: 0 5px 12px rgba(128,128,128,.141176);
	border-radius: 10px;
}

.contact-name {
	margin: 1rem 2rem;
}

.contact-mail {
	margin: 1rem 2rem;
}

.contact-message {
	margin: 1rem 2rem;
}

.contact textarea {
	height: 200px;
}

button {
  background-color: #FFF;
  color: #333;
  font-family: 'sans serif';
  outline: none;
  border: none;
	border-radius: 5px;
	border: 1px solid;
  padding: 10px 0;
  display: block;
  font-size: 1rem;
  width: 20%;
  font-weight: bold;
	cursor: pointer;
	transition: .3s;
	margin: 0 auto;
}

button:hover {
	color: #fff;
	background-color: #333;
	transition: .3s;
}
/* フッター */

/* トップに移動 */

/*----------レスポンシブ----------*/
